                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            平台首页
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="home">首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-desktop"></i> 首页
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="jumbotron">
                    <h1>大数据地理计算平台</h1>
                    <p>本平台是一个大数据地理计算平台，平台结合Hadoop分布式计算框架，执行地理数据分布式计算</p>
                    <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                    </p>
                </div>
