                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            多个MapReduce任务组成的MapReduce计算流
                            <small>配置多个算子，构成MapReduce计算流</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="home">回到首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> MapReduce任务流
                            </li>
                        </ol>
                    </div>
                </div>
