               <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            权限不够
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="home">首页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-desktop"></i> 首页
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="jumbotron">
                    <h1>需要管理员权限才能访问该功能点</h1>
                    <p>若需要访问该功能点，请找管理员开通此权限</p>
                    <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                    </p>
                </div>
