           <div id="ajax-wrapper">       
                <span>异步上传</span>   
                <input id="fileupload" type="file" name="files[]", multiple="multiple">
           </div>
           <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success">
           </div>

           <div id="files" class="files">
           </div>
